/* ============================== */
/*             FONTS              */
/* ============================== */


@import url(http://fonts.googleapis.com/css?family=Wire+One);



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	html{
		background:url(../img/bg.png) repeat;
		}
	
	body {
		-webkit-font-smoothing:antialiased;
		font-family: 'Wire One', 'arial narrow', sans-serif;
	}
	
	h1 {
		font-size:7em;
		font-weight:normal;
		}
	h2 {
		font-size:3em;
		font-weight:normal;
		margin:0.5em 0 0 0.5em;
		}
	h3 {}
	
	p {
		font-family:'Arial Narrow', sans-serif;
		padding:1em;
		}
	
	ul{
		list-style:none;
	}
	
	li{
		font-size:2em;
	}
/*	div {background:rgba(0,204,255,0.1);}
*/	
	.wrapper{
		}
		.header{
			background:rgba(255,255,255,0.7);
			border-left: rgba(0,0,0,.6) solid 2px;
			margin-left:-2px;
			box-shadow: 10px 0px 15px rgba(0,0,0,.3);
			}
			
			#title{
				margin:0 0 0 0.25em;
			}
		.nav{
/*			background-color:rgba(255,204,0,0.3);
			border-left:rgba(255,204,0,.8) solid 2px;
			margin:0 auto 0 -2px;*/
			}
			.nav ul{
				text-align:center;
				margin:auto;
			}
			.nav li{
			}
			.nav li a{
				width:150px;
				height:50px;
				text-align:center;
				background:rgba(0,0,255,0.13);
			}
				.nav li a:link{}
				.nav li a:visited{}
				.nav li a:hover{
					background-color:rgba(255,255,255,0.05)}
				.nav li a:active{}
		.about{
			display:block;
			background:rgba(0,255,0,0.3);

		}
		.portfolio{
			margin:0px 15px 0 0;
		}
			.piece, .thumb{
				float:left;
				background:rgba(255,255,255,0.7);
				border-left: rgba(0,0,0,.6) solid 2px;
				margin-left:-2px;
				margin-bottom:1.5rem;
				box-shadow: 10px 0px 15px rgba(0,0,0,.3);
				max-width:100%;
			}			
			.thumbnav{
				float:left;
				position:relative;
				left:15px;
			}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media (min-width: 721px) and (max-width: 960px){
	
	
	
}
@media (max-width: 720px){

.wrapper{padding:0;}
.portfolio, .piece, .thumb {margin:0; border:0;}
.piece img.img {width:100%;}
.thumbnav {display:none;}

}