<!doctype html>
<html lang="en" class="">

<head>
	<meta charset="utf-8" />
	<title>Dom Bonanni</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!--link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'-->

	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/dombonanni.css" type="text/css" media="screen" />
    
</head>


<body class="grid-wrapper"><!-- open wrapper -->
    <div class="grid one-whole">
    	<div class="header" id="title_container"><!-- open header -->
        	<h1 id="title" class="giga">Dom Bonanni</h1>
        </div><!-- closes header -->
        
    </div>
        
    <div class="grid" id="nav_container">    
    </div>
    
    <div class="" id="portfolio_container"><!-- opens portfolio -->
		<!--

        <div class="grid nine-twelfths">
        	<img src="img/gallery/syllaBliss0.jpg" width="830" height="288" alt="syllaBliss" />
        	<img src="img/gallery/syllaBliss1.jpg" width="830" height="288" alt="syllaBliss" />
        </div>
        
        <div class="grid nine-twelfths">
            <h2>syllaBliss</h2>
            <p>This concept was designed as a mobile solution to Philadelphia University's difficult to use and poorly adopted Blackboard Academic Suite. The project featured extensive usability testing, task analysis, preproduction, and planning.</p>
        </div>
        
        <div class="grid nine-twelfths">
            <img src="img/gallery/fdredesign0.jpg" width="830" height="288" alt="Fashion Design Website Redesign" />
            <img src="img/gallery/fdredesign1.jpg" width="830" height="288" alt="Fashion Design Website Redesign" />
            <img src="img/gallery/fdredesign2.jpg" width="830" height="288" alt="Fashion Design Website Redesign" />
        </div>
        
        <div class="grid nine-twelfths">
            <h2>PhilaU Fashion Design Website Redesign</h2>
            <p>This concept was planned and designed in collaboration with Philadelphia University's Fashion Design Program and Office of Public Relations. The project featured extensive planning, task analysis, market research, and a sizeable interview process.</p>
        </div>
        
        <div class="grid nine-twelfths">
        	<a href="http://www.hexaware.com/brandresourcecenter/" target="_blank"><img class="img" src="img/gallery/hexaware0.jpg" title="Brand Resource Center" alt="Brand Resource Center" /></a>
            <h2><a href="http://www.hexaware.com/brandresourcecenter/" target="_blank">Brand Resource Center</a></h2>
            <p>Developed at Hexaware Technologies with the Global Marketing Team, the Brand Resource Center acts as an online style guide serving over 5,000 employees internationally. The development process considered database and content management, cross-browser compatibility (including IE6), and standards compliance.</p>
        </div>
        
        <div class="grid three-twelfths">
        	<a href="http://www.hexaware.com/brandresourcecenter/" target="_blank"><img class="thumb" src="img/gallery/hexaware0t.jpg" alt="Brand Resource Center" title="Brand Resource Center" /></a>
        </div>

        -->
        
    </div><!-- /portfolio -->

    <div class="" id="footer_container"><!-- opens footer -->
        <div class="grid one-whole"><!-- opens downloads -->
        	<ul class="nav nav--block nav--stacked">
            	<li><a class="btn btn--full" href="http://validator.w3.org/check?uri=http%3A%2F%2Fdombonanni.com%2F;verbose=1" title="Feelin' Lucky?">Validate HTML</a></li>
            	<li><a class="btn btn--full" href="https://wordpress.philau.edu/designexpoportfolios/wp-content/uploads/2012/03/DomsResume3.20.12-1.pdf" title="Resume">Résumé</a></li>
            	<li><a class="btn btn--full" href="#">Back to Top</a></li>
        	</ul>
        </div><!-- closes downloads -->
        
    </div><!-- closes footer -->
</body><!-- closes wrapper -->


<!-- TEMPLATES -->

<script type="text/template" id="nav_template">
    <ul class="nav nav--stacked" id="nav_item_container">
        <li><a class="btn btn--lrg" href="#" title="Home">About</a></li>
        <li><a class="btn btn--lrg" href="#" title="Portfolio">Portfolio</a></li>
        <li><a class="btn btn--lrg" href="https://wordpress.philau.edu/designexpoportfolios/wp-content/uploads/2012/03/DomsResume3.20.12-1.pdf" title="Resume">Résumé</a></li>
        <li><a class="btn btn--lrg" href="http://www.behance.net/dombonanni" target="_blank">Behance</a></li>
        <li><a class="btn btn--lrg" href="https://plus.google.com/u/0/107827796879005657319/posts" target="_blank">Google+</a></li>
        <li><a class="btn btn--lrg" href="http://www.linkedin.com/profile/view?id=117889189" target="_blank">LinkedIn</a></li>
    </ul>

</script>

<script type="text/template" id="nav_item_template">
    
</script>

<script type="text/template" id="portfolio_item_template">
    <div class="grid nine-twelfths">    
        <h2 class="beta">Title: <%= item_title %></h2>
        <p class="description">Description: <%= item_description %></p>
    </div>

</script>

<script type="text/javascript" src="js/libs/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/libs/underscore-min.js"></script>
<script type="text/javascript" src="js/libs/backbone-min.js"></script>

<script type="text/javascript" src="js/libs/be.js"></script>
<script type="text/javascript" src="js/libs/be/users/projects.js"></script>
<script type="text/javascript" src="js/libs/be/users/wips.js"></script>
<script type="text/javascript" src="js/libs/be/users/collections.js"></script>
<script type="text/javascript" src="js/libs/be/users.js"></script>
<script type="text/javascript" src="js/libs/be/collections.js"></script>
<script type="text/javascript" src="js/libs/be/projects/comments.js"></script>
<script type="text/javascript" src="js/libs/be/projects.js"></script>
<script type="text/javascript" src="js/libs/be/wips/revisions.js"></script>
<script type="text/javascript" src="js/libs/be/wips.js"></script>
<script type="text/javascript" src="js/libs/be/search.js"></script>

<script type="text/javascript" src="dombonanni.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17167172-5']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</html>