<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dom Bonanni</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <!--<link rel="stylesheet" href="css/dombonanni.css" type="text/css" media="screen" />-->
</head>


<body class="grid-wrapper"><!-- open wrapper -->
    <div class="grid one-whole" id="header_container"><!-- open header_container -->
        <div id="header">    
            <h1 class="giga">Dom Bonanni</h1>
        </div>
        <ul class="nav nav--block" id="filter-nav">
            <li><a class="btn btn--filter" id="unfilter" href="#">All Projects</a></li>
            <li><a class="btn btn--filter category-1" id="filter-dev" href="#">Web Development</a></li>
            <li><a class="btn btn--filter category-2" id="filter-web-design" href="#">Web Design</a></li>
            <li><a class="btn btn--filter category-4" id="filter-graphic-design" href="#">Graphic Design</a></li>
            <li><a class="btn btn--filter category-3" id="filter-multimedia" href="#">Multimedia</a></li>
        </ul>
    </div><!-- /header_container -->
        
    <div class="grid one-quarter palm-one-whole" id="nav_container">
    </div><!-- /nav_container -->

    <div class="grid three-fifths palm-one-whole" id="portfolio_container">        
    </div><!-- /portfolio -->

    <div class="grid one-whole" id="footer_container"><!-- open footer -->
    	<ul class="nav nav--block nav--stacked">
        	<li><a class="btn" href="https://docs.google.com/document/d/1PmlP1BVyldlubL39JjaqwauiCyKsYbRkN0Dryl_CGAE/pub" title="Résumé" >Résumé</a></li>
            <li><a class="btn" href="http://validator.w3.org/check?uri=http%3A%2F%2Fdombonanni.com%2F;verbose=1" title="Code that mom would be proud of, if mom knew what code was." >Validate HTML</a></li>
        	<li><a class="btn" href="#" title="Woosh!">Back to Top</a></li>
    	</ul>        
    </div><!-- /footer -->

</body><!-- /wrapper -->


<!-- TEMPLATES -->

<script type="text/template" id="nav_template">
    <ul class="nav nav--stacked" id="nav_item_container">
    </ul>

</script>

<script type="text/template" id="nav_item_template">
        <a class="btn btn--item <%= item_category %>" href="#<%= item_id %>" title="<%= item_title %>"><%= item_title %></a>

</script>

<script type="text/template" id="portfolio_template">
    <div id="<%= item_id %>" class="card <%= item_category %>">    
        <h2 class="beta project-title"><%= item_title %></h2>
    </div>

</script>

<script type="text/template" id="portfolio_text_template">
    <div class="text">
        <p><%= item_text %></p>
    </div>

</script>

<script type="text/template" id="portfolio_image_template">
    <div class="media">
        <img class="img--center" src="<%= image_link %>" alt="<%= image_caption_plain %>" title="<%= image_caption_plain %>" />
    </div>
    <div class="caption"><%= image_caption_plain %></div>

</script>

<script type="text/template" id="portfolio_embed_template">
    <div class="media">
        <%= item_code %>
    </div>

</script>

<script type="text/javascript" src="js/libs/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/libs/underscore-min.js"></script>
<script type="text/javascript" src="js/libs/backbone-min.js"></script>

<script type="text/javascript" src="js/libs/be.js"></script>
<script type="text/javascript" src="js/libs/be/users/projects.js"></script>
<script type="text/javascript" src="js/libs/be/users/wips.js"></script>
<script type="text/javascript" src="js/libs/be/users/collections.js"></script>
<script type="text/javascript" src="js/libs/be/users.js"></script>
<script type="text/javascript" src="js/libs/be/collections.js"></script>
<script type="text/javascript" src="js/libs/be/projects/comments.js"></script>
<script type="text/javascript" src="js/libs/be/projects.js"></script>
<script type="text/javascript" src="js/libs/be/wips/revisions.js"></script>
<script type="text/javascript" src="js/libs/be/wips.js"></script>
<script type="text/javascript" src="js/libs/be/search.js"></script>

<script type="text/javascript" src="dombonanni.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17167172-5']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</html>