/* Fonts */

@import url("http://fonts.googleapis.com/css?family=Wire+One|Roboto+Condensed:300");

/* Mixins */

@mixin colorize($color, $color-h, $color-s){
    border-color: $color;

	&:hover{border-color: $color-h}
	&:active{border-color: $color-s}

	.project-title{
		border-color: $color;
		color: $color-s;
		background-color:  $color-h;

	}

	.text, .media, .caption{
		border-color:$color;
		border-width:$domb-border-size/2;
	}
}

/* element styles */

html{
	//background:url(../img/bg.png) repeat;
	background-color: $domb-color-charcoal;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: $brand-face;
	padding-top: 40px;
	max-width: 1920px;

	@include media-query(palm){
		padding-top:$domb-border-size;
		//width:100% + $base-spacing-unit;
	}
}

h1 {}

h2 {
	//font-family:'Roboto Condensed','Arial Narrow', arial, sans-serif;
	//@include font-size($kilo-size);
	font-weight:300;
	//margin:0.5em 0 0 0.5em;
}

h3 {}

p:only-of-type {
	//font-family:'Arial Narrow', sans-serif;
	margin-bottom:0px;
}

ul{}

li{}

a{
	color:black;

	&:hover{ color:$domb-color-charcoal; }
	&:active{}
	&:focus{}
	&:visited{ color:$domb-color-charcoal; }
}

/* id styles */

#header_container{
	//width: auto;
	//float: left;
	margin-bottom: $domb-border-size;
	// position:fixed;
	@include media-query(palm){
		//position: fixed;
		width: 100%;
	}

}

#header{
	
	h1 {
		font-family: "Wire One", $brand-face;
		font-weight:300;
		margin-bottom:0;

		@include media-query(palm){
			@include font-size($mega-size);
			text-align: center;
		}
	}
	
	width:auto;
	float:left;
	clear:right;
	background-color: $domb-color-light-grey;
	padding:15px 40px;
	margin-bottom:$domb-border-size;

	@include media-query(palm){
		float:none;
		width: 100%;
	}
	
}

#filter-nav{
	float:left;
	clear:both;

	.category-1{ background-color:$domb-color-paradiso-h }
	.category-2{ background-color:$domb-color-wasabi-h }
	.category-3{ background-color:$domb-color-rust-h }
	.category-4{ background-color:$domb-color-tulip-tree-h }

	@include media-query(palm){
		display:table;
		width:100%;
        
	    > li{
	        display:table-cell;

	        > a{
	            display:block;
	            //height: 100%;

	        }
	    }
	}
}

/* class Styles */

.nav--stacked > li > a{
	display: inline-block;
}

#header, .btn, .card { box-shadow: 0px 1px 4px $domb-color-charcoal-s; }

#nav_container{
	min-width:200px;
}

#portfolio_container{
	padding-bottom:$base-spacing-unit*8;
}

.btn{
	color:black;
	background-color: $domb-color-light-grey;
	margin-bottom: $domb-border-size;
	padding-left: 40px;

	border-right: $domb-border-size solid $domb-color-light-grey;

	@include vendor(transition, all 0.05s ease-in-out);
	
	&:focus{}
	&:visited{color:black}

	&:hover {
		color:$domb-color-charcoal;
		border-right-color: $domb-color-light-grey-h;
		border-right-width: $domb-border-size*1.5;
	}
	&:active { 
		background-color: $domb-color-light-grey-s;
		border-right-color: $domb-color-light-grey-s;
	}
}

.btn--item{
	width:100%;
	text-align: right;
	@include media-query(palm){
		//width: auto;
		//float: left;
	}
}

.card {
	//max-width:550px;
	//min-width:433px;
	background: $domb-color-light-grey;

	img, iframe {
		//width:100%;
		margin-bottom: 0;
		box-shadow:-2px 0px 4px -2px $domb-color-charcoal-s,
		            2px 0px 4px -2px $domb-color-charcoal-s;
	}

	.project-title {
		width:100%;
		margin-bottom: 0;
		padding:0.5em;
		padding-left: 40px;
		line-height: 1;
		font-size: 2em;
		border-bottom:$domb-border-size solid $domb-color-light-grey-s;
	}
	.text{
		padding:$base-spacing-unit 40px;
		border-bottom:$domb-border-size solid $domb-color-light-grey-s;
	}
	.title{
		@include font-size($h2-size);
	}

	.media{
		
		margin-bottom: 0;

		//border-top:$domb-border-size solid $domb-color-light-grey-h;
		background-color:$domb-color-light-grey-s;
		border-bottom:$domb-border-size solid $domb-color-light-grey-h;

		iframe{
			max-width:100%;
		}
	}

	.caption{
		padding:$base-spacing-unit 40px;
		margin:auto;
		text-align: center;
		border-bottom:$domb-border-size solid $domb-color-light-grey-s;
	}

}

#footer_container{
	//padding-top:$domb-border-size;
	//float:right;
	//position:fixed;
	//right:-1*$base-spacing-unit;
	// .nav{
	// 	float:right;

	// 	.btn{
	// 		float: right;
	// 		padding-right:40px;
	// 	}
	// }

	@include media-query(palm){
		position:fixed;
		bottom:$domb-border-size;
	}
}

//colors for styling by category, most important called last

.category-4, .branding, .typography, .graphic-design { @include colorize($domb-color-tulip-tree, $domb-color-tulip-tree-h, $domb-color-tulip-tree-s) }
.category-3, .computer-animation, .sound-design, .visual-effects, .character-design { @include colorize($domb-color-rust, $domb-color-rust-h, $domb-color-rust-s) }
.category-2, .interaction-design, .ui-ux, .web-design {	@include colorize($domb-color-wasabi, $domb-color-wasabi-h, $domb-color-wasabi-s) }
.category-1, .web-development, .programming { @include colorize($domb-color-paradiso, $domb-color-paradiso-h, $domb-color-paradiso-s) }